.m-footer--block,
.m-footer--line {
  display: flex;
  justify-content: space-between;
  border-radius: $borderRadius;
  padding: 20px;
  font-size: $font-sm;
  line-height: 9px;
  color: $med-gray;
}

.m-footer--block {
  background-color: $frost;
}

.m-footer--line {
  border-top: 1px solid $ice;
}