.m-button {
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  padding: 8px 12px;

  &:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &--text {
    background-color: transparent;
    color: $light-gray;
    transition: color 0.3s;

    &:hover {
      color: $orange;
    }
  }

  &--primary {
    background: $primary-color;
    border-radius: 4px;
    color: $white;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
