.mcw-header {
  svg {
    height: 20px;
    width: 50px;
    vertical-align: middle;
  }
}

.mcw-preview {
  font-size: 14px;
}

.mcw-icon {
  height: 60px;
  width: 60px;
}
  
.mcw-icons-full {
  height: 800px;
  width: 800px;
}