// Regras para a pagina de Tipografia Macaw
.mcw-h1 {
    font-size: 22px;
    font-weight: 600;
  }
  
  .mcw-h2 {
    font-size: 20px;
    font-weight: 600;
  }
  
  .mcw-h3 {
    font-size: 18px;
    font-weight: 600;
  }
  
  .mcw-h4 {
    font-size: 16px;
    font-weight: 600;
  }
  
  .mcw-h5,
  .mcw-label {
    font-size: 14px;
    font-weight: 600;
  }
  
  .mcw-h6 {
    font-size: 12px;
    font-weight: 600;
  }
  
  .mcw-sub1,
  .mcw-body1 {
    font-size: 16px;
    font-weight: 400;
  }
  
  .mcw-sub2,
  .mcw-body2 {
    font-size: 14px;
    font-weight: 400;
  }
  
  .mcw-button {
    font-size: 16px;
    font-weight: 700;
  }
  
  .mcw-caption {
    font-size: 12px;
    font-weight: 400;
  }
  
  .mcw-overline {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
  }