@import "custom";

// Regras para a pagina de Cores Macaw
.mcw-color-sample {
  @extend .mcw-caption;
  display: inline-block;
  height: 50px;
  width: 120px;
  padding: 10px;
  margin: 5px;
}
  
.mcw-white {
  background-color: $macaw-white;
  border: 1px solid $macaw-light-grey;
}

.mcw-frost {
  background-color: $macaw-grey-200;
}

.mcw-ice {
  background-color: $macaw-grey-300;
}

.mcw-light-gray {
  background-color: $macaw-light-grey;
}

.mcw-lightest-gray {
  background-color: $macaw-grey-400;
}

.mcw-gray {
  background-color: $macaw-grey-700;
  color: $macaw-white;
}

.mcw-med-gray {
  background-color: $macaw-med-grey;
  color: $macaw-white;
}

.mcw-dark-gray {
  background-color: $macaw-dark-grey;
  color: $macaw-white;
}

.mcw-black {
  background-color: $macaw-black;
  color: $macaw-white;
}

.mcw-orange {
  background-color: $macaw-primary-color;
  color: $macaw-white;
}