.m-text-field {
  background-color: $white;
  border: 1px solid $lightest-gray;
  border-radius: $borderRadius;
  padding: 8px;

  &:focus {
    border-color: $orange;
    outline: none;
    box-shadow: 0 0 3px $orange;
  }

  &__wrapper {
    position: relative;

    .m-text-field {
      padding-left: 25px;
    }
  }

  &__icon {
    color: $med-gray;
    left: 7px;
    position: absolute;
    top: 8px;

    .m-icon svg {
      height: $base-font-size;
    }
  }

  &__not-valid {
    border-color: $red;
    background-color: mix($red, $white, 10); 
  }
}