m-menu-apps-item {
  margin-right: $itemMarginRight;
  margin-bottom: 8px;
  height: 98px;

  .m-menu-apps-item {
    cursor: pointer;
    text-align: center;
    width: $itemWidth;
    border-radius: 5px;
  }

  a {
    color: $gray;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
  }

  figure {
    margin: 0;
    padding: 0;

    span {
      display: flex;  
      align-items: center;
      width: 56px;
      height: 56px;
      margin: 0 auto;

      img {
        width: 100%;
        height: auto;
      }
    }

    figcaption {
      max-width: $itemWidth - 20;
      font-size: .625rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &:nth-of-type(4n) {
    margin-right: 0;
  }

  &:hover {
    .m-menu-apps-item {
      background: $ice;
    }

    figure figcaption {
      white-space: normal; 
      overflow: visible;
      text-overflow: unset;
    }
  }
}
