.m-menu-apps {
  position: relative;

  &__button {
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 4px;
    border: none;
    background-color: #F5F5F5;
    outline: none;
  }

  &__icon {
    display: inline-block;
    margin: 10px 0 0 10px;
    width: 12px;
    height: 12px;

    svg {
      width: auto;
    }
  }

  &__content {
    display: none;
    position: absolute;
    right: 45px;
    z-index: 900;
    padding: 16px 35px;
    margin: 4px 0 0;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    list-style: none;

    &--show {
      display: block;
    }
  }
}
