$white: #FFF;
$frost: #FAFAFA;
$ice: #F5F5F5;
$light-gray: #D6D6D6;
$lightest-gray: #D9D9D9;
$gray: #4B4B4B;
$med-gray:#666;
$dark-gray: #333;
$black: #000;

$orange: #E87305;
$red: #F93E06;

// system colors
$primary-color: $orange !default;
$error-color: $red !default;

// backgrounds
$background-light: $white !default;

// border
$default-border-width: 1px;
$default-border-style: solid;
$default-border-color: $lightest-gray !default;
$default-border-radius: 4px !default;

$default-border: $default-border-width $default-border-style $default-border-color;

$focus-border-color: $primary-color;
$error-border-color: $error-color;

// padding
$default-padding: 8px !default;
