$white: #FFF;
$frost: #FAFAFA;
$ice: #F5F5F5;
$lightest-gray: #D9D9D9;
$light-gray: #D6D6D6;
$gray: #4B4B4B;
$med-gray:#666;
$dark-gray: #333;
$black: #000;

$orange: #E87305;

$primary-color: $orange;

$borderRadius: 5px;
