* {
  font-family: -apple-system, -apple-system-font, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

$base-font-size-raw: 0.875 !default;
$base-font-size: $base-font-size-raw * 1rem !default;// 14px

$font-xs: $base-font-size * 0.714 !default;          // 10px
$font-sm: $base-font-size * 0.857 !default;          // 12px
$font-lrg: $base-font-size * 1.428 !default;         // 20px
